<%= form_with(model: list, local: true) do |form| %>

  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> 
          prohibited this list from being saved:
      </h2>
      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('list.title') %>
    <%= form.text_field :title_list, autofocus: true, placeholder: t('info_list.new_list') %>
  </div>

  <div class="form-group">
    <%= form.label t('list.status') %><br/>
    <%= form.select :status, List::STATUS %>
  </div>

  <div class="form-group">
    <%= form.label t('list.priority') %>
    <%= form.number_field :priority_list, class:"form-control", value: "0" %>
  </div>

  <div class="form-group">
    <%= form.label t('list.deadline') %>
    <% I18n.locale = 'en' %>
    <%= form.datetime_select :deadline_list, class:"form-control" %>
    <% I18n.locale = current_user.locale %>
  </div>

  <div class="actions">
    <%= form.submit t('list.create'), class:"btn btn-primary" %>
  </div>

<% end %>
