<% begin %>

<% if (current_user.lists.nil?)||(current_user.lists.count == 0) %>

<div class="text_to_center">
  <h3><%= t('info_list.no_notice') %></h3>
</div>

<% else %>

<% @lists.each do |list| %>
<% if list.user_id == current_user.id %>
<!-- user -->

<table class="tab_rg">

  <thead>
    <tr class="tr_head">

      <th style="color: #2F4F4F;width: 9.5%; font-size: 17px" ;>
        <i class="glyphicon glyphicon-list-alt" style="color: #2F4F4F; left: 17px;"></i>
      </th>

      <th style="width: 0%;">
      </th>

      <% if list.deadline_list < Time.now && list.status != 'completed' %>
      <th class="table_cell" style="color: red; width: 60%;">
        <%= list.title_list %><br />
      </th>
      <th class="table_cell" style="color: red; width: 12%;">
        <%= t('list.deadline') %> <%= list.deadline_list.to_s[0...10] %>
      </th>
      <% else %>
      <th class="table_cell" style="color: #fff; width: 60%;">
        <%= list.title_list %>
      </th>
      <th class="table_cell" style="color: #fff; width: 12%;">
        <%= t('list.deadline') %> <%= list.deadline_list.to_s[0...10] %>
      </th>
      <% end %>

      <th class="right_table_cell" style="width: 18%; color: #BBBBBB;">
        <em>
          <a href="#" onclick="editList('<%= list.id %>');" data-remote="true">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">|</span>
          </a>

          <%= link_to list_path( :action => :destroy, :id => list.id ), data:
                  { confirm: 'Are you sure?' }, :method => :delete do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </em>
      </th>

    </tr>
  </thead>

  <tbody>
    <tr class="tr_input">
      <td class="td_left_none" , style=" font-size: 20px">&nbsp;&nbsp;
        <i class="glyphicon glyphicon-plus" style="color: #006400;" style="font-size: 50px;"></i>
      </td>

      <td></td>

      <td colspan="3" ;>
        <div class="input-group" style="width: 99%; padding: 8px">
          <input id="<%= list.id %>" type="text" class="form-control" placeholder="<%= t('info_list.type') %>">
          <span class="input-group-btn">
            <a class="btn btn-success btn" type="button" onclick="addTask('<%= list.id %>');" data-remote="true">
              <b>
                <font color="white"><%= t('button.add_task') %></font>
              </b>
            </a>
          </span>
        </div>
      </td>
    </tr>
    <!-- task -->
    <% @tasks.each do |task| %>
    <% if task.list_id == list.id %>
    <!-- list -->

    <tr class="tr_body">
      <% if task.status == "completed" %>

      <td class="td_left_none left_table_cell" , style="color: #BBBBBB">
        <i class="glyphicon glyphicon-check"></i>
      </td>

      <td></td>

      <td class="table_cell">
        <del>
          <%= task.content_task %>
        </del>
      </td>
      <td class="table_cell" style="color: #BBBBBB">
        <%= task.deadline_task.to_s[0...10] %>
      </td>

      <td class="right_table_cell">
        <em>
          <a href="#" onclick="editTask('<%= task.id %>');" data-remote="true">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">|</span>
          </a>

          <a href="/tasks/<%= task.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </em>
      </td>

      <% else %>

      <td class="td_left_none left_table_cell" , style="color: #BBBBBB;">
        <i class="glyphicon glyphicon-unchecked"></i>
      </td>

      <td></td>

      <% if task.deadline_task < Time.now %>
      <td class="table_cell" style="color: red">
        <%= task.content_task %><br />
      </td>
      <td class="table_cell" style="color: red">
        <%= task.deadline_task.to_s[0...10] %>
      </td>
      <% else %>
      <td class="table_cell">
        <%= task.content_task %>
      </td>
      <td class="table_cell">
        <%= task.deadline_task.to_s[0...10] %>
      </td>
      <% end %>

      <td class="right_table_cell">
        <em>
          <%= link_to  complete_list_path(task.id), :method => :patch, class: 'done action' do %>
          <span class="glyphicon glyphicon-check" aria-hidden="true" class="action">|</span>
          <% end %>

          <a href="#" onclick="editTask('<%= task.id %>');" data-remote="true">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">|</span>
          </a>

          <a href="/tasks/<%= task.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </em>
      </td>

      <% end %>

    </tr>

    <% end %>
    <!-- /list -->
    <% end %>
    <!-- /task -->
    </tr>
  </tbody>

</table>

<% end %>
<!-- /user -->

<% end %>

<% end %>

<div class="text_to_center">
  <%= link_to("#", class: "btn btn-primary btn-lg", id: "add_list", remote: true) do %>
  <i class="glyphicon glyphicon-plus" style="color: #2F4F4F"></i>
  <b>
    <font color="white"><%= t('button.add_list') %></font>
  </b>
  <% end %>
</div>

<script src="<%= asset_path 'sorting.js' %>"></script>

<% rescue %>

<h3>Error in the sorting layout</h3>
<%= @lists %>
<%= @l %>

<% end %>