<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
    <%= favicon_link_tag("favicon.ico", alt: "favicon") %>

  </head>

  <body>
    <div class="grad">
    <%= render "layouts/navigation" %>
    <div class="main">
    <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    </div>
  </body>

</html>